{% extends "auctions/layout.html" %}

{% block body %}

<h1>Criar um novo item:</h1>

<form action="{% url 'createlist' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Titulo">
    </div>
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="desc" placeholder="Descrição">
    </div>
    <div class="form-group">
        <input autofocus class="form-control" type="number" name="valor_m" placeholder="Valor Minimo">
    </div>
    <!--<div class="form-group">
        <input autofocus class="form-control" type="text" name="url" placeholder="Url da imagem">
    </div>!-->

    <div class="form-group">
        <select name="cate" id="">
            <option>-----Selecione-----</option>
            {% for cate in categor %}
                <option values= "{{ cate.id }}"> {{ cate.cat }} </option>
            {% endfor %}
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Carregar item">
</form>
{% endblock %}




