{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Product: {{ product.titulo }}</h1>
    <h2>Description: {{ product.descricao }}</h2>
    <h5>Category: {{ product.catego }}</h5>
    <h5>Price: US$ {{ product.valor_min }}</h5>
    <h5>Seller: {{ product.dono }}</h5>
    <br>
    {% if user.is_authenticated %}
    <form action="{% url 'watchlist_add' product.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Watchlist it">
    </form>
    {% else %}
        <a href='/login'>Log in</a> to Watchlist this
    {% endif %}
<a href="{% url 'index' %}">All Products</a>
{% endblock %}